<h1>Lista de Tarefas</h1>

<div>Filtros:</div>
<form [formGroup]="filterForm">
  <mat-form-field appearance="fill">
    <mat-label>Título</mat-label>
    <input matInput
           formControlName="title" />
  </mat-form-field>

  <mat-radio-group aria-label="Select an option"
                   formControlName="isCompleted">
    <mat-radio-button [value]="null"
                      class="todos-filter-radio-item">Todos</mat-radio-button>
    <mat-radio-button [value]="false"
                      class="todos-filter-radio-item">Pendentes</mat-radio-button>
    <mat-radio-button [value]="true"
                      class="todos-filter-radio-item">Completados</mat-radio-button>
  </mat-radio-group>
</form>

<div class="new-todo-form">
  <form [formGroup]="newTodoForm">
    <mat-form-field appearance="fill">
      <mat-label>Título Nova Tarefa</mat-label>
      <input matInput
             formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descrição Nova Tarefa</mat-label>
      <input matInput
             formControlName="description" />
    </mat-form-field>

    <button mat-raised-button
            color="primary"
            [disabled]="isSaving || newTodoForm.invalid"
            (click)="createTodo()">
      {{ isSaving ? 'Salvando...' : 'Criar' }}
    </button>
    <mat-spinner *ngIf="isSaving"
                 diameter="24"
                 color="accent"></mat-spinner>
  </form>
</div>


<mat-spinner *ngIf="loading$ | async"
             diameter="24"
             color="primary"></mat-spinner>
<div>
  {{ todosCompletedCount$ | async }}/{{ todosCount$ | async }}
  <ng-container *ngIf="filteredTodos$ | async as todos;">
    <app-todo-list [todos]="todos"
                   (todoSelected)="onTodoSelected($event)"
                   (todoDelete)="onTodoDeleted($event)"
                   (todoToggle)="onTodoToggled($event)"
                   (todoToggleFavorite)="onTodoToggledFavorite($event)"></app-todo-list>
  </ng-container>
</div>